# memeoftheday
Memes


Δεδομενα: n,j,k,πινακας γεματος με 0

Για i απο 1 μεχρι n
	  Αν i==j τοτε
		  Για g απο 1 μεχρι n
			  Αν jMODg==0 τοτε
          Αν x(g)==0 τοτε
            x(g)=1
         αλλιως
           x(g)=0
          τελος_αν
       τελος_αν
     τελος_επαναληψης
   τελος_αν
Αν x(i)==0 τοτε
  x(i)=1
αλλιως
  x(i)=0
τελος_αν
Αν i==k τοτε
  για f απο 1 μεχρι n
   Αν x(f)=0 τοτε
      εμφανησε: %d ειναι κλειστο,f
   αλλιώς εμφανησε: %d ειναι ανοιχτό,f
   τελος_αν
  τελος_επαναληψης
τελος_αν
 
